# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Models
*.pt
*.onnx

# Database
*.db
*.sqlite3

# Node.js
node_modules/
dist/
build/
.next/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS specific
.DS_Store
Thumbs.db

# Logs
*.log
*.csv
calibration_samples.jsonl
screenshots/
screenshot_*.jpg
